<footer class="site__footer">

  <div class="wrapper">
    <p>{{ site.title }} &copy; 2016 &mdash; all rights reserved</p>
    <div class="social">
     {% if site.instagram-username %}
        {% include social/instagram.html %}
      {% endif %}

      {% if site.vimeo-username %}
        {% include social/vimeo.html %}
      {% endif %}
      
      {% if site.facebook-username %}
        {% include social/facebook.html %}
      {% endif %}

      {% if site.twitter-username %}
        {% include social/twitter.html %}
      {% endif %}

      {% if site.tumblr-username %}
        {% include social/tumblr.html %}
      {% endif %}
    </div>
  </div>

</footer>
