.social {
  float: right;
}
.social-icon {
  margin: 0 5px;
  &:last-of-type {
    margin-right: 0;
  }
  svg {
    height: 18px;
    width: 18px;
  }
  &:hover {
    text-decoration: none;
    svg {
      fill: $gray;
    }
  }
}
