
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$base-line-height: 1.5;

$gutter: 30px;

$base-color: black;
$base-background: white;
$primary-color: black;

$gray: #555;

$nav-height: 80px;

$breakpoint-small: 640px;
$breakpoint-medium: 940px;
$content-width: 940px;
